

.projects-section-full {
    width: 100%;
    min-height: 100vh;
    padding-top: 100px;
}

.projects-section-body {
    margin-left: 30px;
    margin-right: 30px;
}

.section-header {
    font-family: "Adihaus";
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 30px;
    margin-top: 0px;
}

.project-cards-container {
    display: flex;
    flex-wrap: wrap;
    // padding: 60px;
    align-items: center;
    justify-content: center;
}

.project-card-instance {
    margin-left: 25px;
    margin-right: 25px;
}

.project-card-wide-instance {
    margin-left: 60px;
}

@media (min-width: 1460px) {
    .projects-section-full {
        min-height: 0;
        height: 650px;
    }
}

// @media (min-width: 1024px ) {
//     .project-cards-container {
//         display: none;
//     }
// }

// @media (max-width: 1023px ) {
//     .project-cards-wide-container {
//         display: none;
//     }
// }


// @media (min-width: 769px ) {
//     .experience-cards-container {

//     }
// }

