

.socials-full {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;

    img {
        padding: 9px;
    }
}

.github-icon {
    width: 30px;
}

.pdf-icon {
    width: 26px;
}

.email-icon {
    width: 32px;
}

.lin-icon {
    width: 29px;
}