

.full-vert-card {
    padding-top: 15px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}

.vertical-image-container {
    width: 75%;
    max-width: 400px;
    // display: block;
    margin-left: 0;
    margin-right: 0;
    position: relative;
}

.vertical-image-container:hover .overlay {
    opacity: .7;
}

.vertical-image-container:hover .text-overlay {
    opacity: 1;
}

.vertical-photo {
    width: 100%;
    display: block;
}

.overlay {
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}

.text-overlay {
    font-family: "Adihaus";
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.top-image-text {
    position: absolute;
    padding-top: 20px;
    padding-left: 20px;
    width: 80%;
}

.title-text {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

.date-text {
    color: white;
    font-size: 12px;
    text-align: left;
}

.bottom-image-text {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 20px;
    padding-bottom: 20px;
    width: 80%;
}

.image-details-text {
    color: white;
    font-size: 12px;
    font-family: "Adihaus Oblique";
    font-style: oblique;
    text-align: right;
}


// .vertical-photo-loaded {
//     width: 70%;
//     max-width: 1000px;
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
//     opacity: 1;
// }

.slider-icon {
    // margin-top: 45px;
    height: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}