

.contact-form-container {
    margin-bottom: 50px;
    position: relative;
    width: 100%;
}

.name-form-group {
    width: 100%;
    padding-bottom: 20px;
    
}

.form-input {
    width: calc(100% - 84px);
    max-width: 750px;
    margin-left: 30px;
    height: 35px;
    font-family: "Adihaus";
    font-style: italic;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    padding-top: 4px;
    border-color: black;
    border-width: 2px;
    color: black;
    font-size: 15px;
    ::placeholder {
        color: black;
    }
}

.email-form-group {
    width: 100%;
    padding-bottom: 20px;
}

.message-form-group {
    width: 100%;
    padding-bottom: 20px;
}

.form-input-message {
    width: calc(100% - 84px);
    max-width: 750px;
    margin-left: 30px;
    height: 300px;
    font-family: "Adihaus";
    font-style: italic;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 11px;
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    color: black;
    font-size: 15px;
    
}

textarea {
    resize: none;
}

textarea::placeholder {
    color: black;
    font-style: italic;
}

input::placeholder {
    color: black;
    font-style: italic;
}

.form-submit-button {
    margin-left: 30px;
    background-color: black;
    color: white;
    font-family: "Adihaus";
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    padding-top: 5px;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    margin-bottom: 30px;
    cursor: pointer;
}

.form-submit-button:hover, .form-submit-button:focus, .form-submit-button:active {
    background-color: white;
    border-width: 2px;
    border-color: black;
    color: black;
    outline: 0;
}

.successful-send-text {
    margin-left: 30px;
    font-family: "Adihaus";
    font-style: italic;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 11px;
    color: black;
    font-size: 15px;
    
}

.error-sending-text {
    margin-left: 30px;
    font-family: "Adihaus";
    font-style: italic;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 11px;
    color: red;
    font-size: 15px;
}

@media (min-width: 769px ) {
    .form-input {
        width: calc(100% - 204px);
        margin-left: 90px;
    }
    .form-input-message {
        margin-left: 90px;
        width: calc(100% - 204px);
    }
    .form-submit-button {
        margin-left: 90px;
    }

    .error-sending-text  {
        margin-left: 90px;
    }

    .successful-send-text {
        margin-left: 90px;
    }
}