


.menu-button-black {
    width: 35px;
    cursor: pointer;
}

.menu-button-black:focus, .menu-button-black:active {
    outline: 0;
}

@media (min-width: 769px ) {
    .menu-button-black {
        display: none;
    }
}