

.contact-me-section-full {
    width: 100%;
    min-height: 100vh;
}

.contact-me-section-body {
    margin-left: 30px;
    margin-right: 30px;
}

.section-header {
    font-family: "Adihaus";
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 30px;
}